
<div class="post">
    <small class="post-user"><%= post.user.name %></small>
    <% if(locals.user && locals.user.id == post.user.id) {%>
        <small class="del-btn">
         <a href="posts/destroy/<%= post.id %>">
            <img src="/images/del.png" alt="delete post">
         </a>
       </small>
       <% } %>
    <h4><%= post.content %></h4>
    <!-- delete post btn -->



    <% if(locals.user){ %>
    <form class="comment-form" action="/comments/create" method="post">
        <textarea placeholder="Give reations..." name="comment" id="" cols="30" rows="1" required></textarea>
        <input type="hidden" name="post" value="<%= post._id %>">
        <button type="submit">
            <img src="/images/comment.png" alt="comment">
        </button>
    </form>
    <% } %>

    <div class="post-comment-lists">
        <ul class="post-comments">
            <% for(comment of post.comments){ %>
                <%- include('_comment') -%>
                
            <% } %>
        </ul>
    </div>
</div>