<% if(profile_user.avatar){ %>
<img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100">
<% } else{%>
    <img src="/images/profile.svg" alt="<%= profile_user.name %>" width="100">
<% } %>

<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>

<% if(user.id == profile_user.id){ %>
   <form action="/users/update/<%= profile_user.id %>" method="post" enctype="multipart/form-data">
    <input type="text" name="name" value="<%= profile_user.name %>">
    <input type="text" name="email" value="<%= profile_user.email %>">
    <input type="file" name="avatar" placeholder="Profile Picture">
    <input type="submit" value="Update">
   </form>
<% }%>